# используем язык java. Travis CI поддерживает другие языки тоже.
language: java
jdk:
  - openjdk13

# создание БД для тестов
services:
  - postgresql
before_install:
  - psql -c "CREATE DATABASE forum;" -U postgres

# используем режим обычного пользователя для сборки проекта.
sudo: false

install: true

script: mvn clean package -DskipTests=true

# после выполнения сборки запустить скрипт, который будет собирать статистику по JaCoCo
# Здесь используется сторонни сервис https://codecov.io/
after_success:
  - bash <(curl -s https://codecov.io/bash)

# Отправлять уведомление на moroz.future@gmail.com если сборка упала
notifications:
  email:
    recipients:
      - moroz.future@gmail.com
    on_success: never # default: change
    on_failure: always # default: always
env:
  global:
    - CODECOV_TOKEN="83944b4f-40e4-4d42-a63c-c57365feb14a"

deploy:
  provider: heroku
  api_key:
    secure: k106JwBK/BMQr6BoGkslaofmvOsl2BDhnCzY9juNC4NoltSRnfHAiHwJ7JLnJtz0Zd/PvT4TSa0RsvnCAIzApA8lfcJizDFYfA2YeZzZ9DYj1T6PrfHxUTDCJk6gnHnqExp+7o9L4+OJmfG3lTFmolJIfUkzWmw3pg3gTfcCk++VWdTH3OEmzagygb8zV2qVS+RURgJOH/ccXigCyy2BU7OImP4HHg3m43dH13km7xUYohjv1mAciK36W4PQQBZVMJEaebjyphXjWBBw9gyaEFZ+CPUyrBNuNR2dMl4bI0Dvh3PuJocJStCDIoMvW73WXdClwrVL2QYc5cH/AOUWTXdzVSGQTvEa8kl/Y+npSN7xdQiAkRx6QSuDsbbMhE6LBQZ1VeOyCbSjOlZqQLmxvl9DAEoeXQCl7RVlTEUpk2KDNFbPa5NG5CC/UMap6KqrLGzXpCCCU9FIgV03aAC5F/INdUCUoj0ELSUWa2WedoE0Zd0OBGgk3cMoGvHvmuuIJzFCM5kMllWeP8BY0KSpeqroKRGQkHYgwhT6gCGrlBKXhQcSnBz/d3QaGcHz3+m8C5uuCNG0syjF4+BliEU7Rf7XxyUN0p8s/DeaZ4wowWN/Esu75GZbDtIWhVCKxwGyfLB127dRMovVteY3FisI+Q/llGLqj7v9PGIpJ2Ml/vQ=
  app: hidden-mountain-69539